
<div class="ms-4 mt-3 mb-5">
    <label class="ms-1">Sort</label>
<div class="dropdown">
    
    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
      {{selectedGenre}}
    </button>
    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
      
      <li *ngFor="let genre of genres" (click)="getValue($event)">
        <a class="dropdown-item" href="#" >{{genre}}</a>
      </li>
    </ul>
  </div>
</div>