
<div class="row row-cols-1 row-cols-md-4 row-cols-sm-2 g-3 ms-2 w-99" *ngIf="loading">
    <div class="col" *ngFor="let game of games | search : searchName; let i = index  ">
      <div class="card card-height bg-dark card-shadow">
        <img [src]="game.background_image" class="card-img-top h-50" alt="...">
        <div class="card-body mt-2 ">
          <h5 class="card-text mt-5 mb-2 h-20">{{game.name}}</h5>
          <img src="https://img.icons8.com/wired/32/000000/phone.png"/>
        </div>
      </div>
    </div>    
  </div>
  <div *ngIf="!loading">
    <ngx-spinner></ngx-spinner>
  </div>
